html {
    // colors
    --disabled-color:#bcc9c6;
    --green-color: #185c4d;
    --green-alpha-background: #a1d4ce11;
    --green-light-background: #91d4c61a;
    --disabled-grreen-color: #1a322c3d;
    --white-color: #fff;
    --carbon-color: #757575;
    --carbon-light-color: #adadad;
    
    // typography 
    --normal-font-color: #3f3f3f;
    --small-font-size: 12px;
    --normal-font-size: 16px;
    --large-font-size: 20px;

    --normal-font-weight: 400;
    --bold-font-weight: 600;

    // buttons
    --normal-button-width: 52px;
    --large-button-width: 74px;

    --normal-button-height: 28px;
    --large-button-height: 40px;
    
}

