html {
    // colors
    --disabled-color:#bcc9c6;
    --blue-color: #168291;
    --white-color: #fff;
    --carbon-color: #757575;
    --carbon-light-color: #adadad;
    --alert-color: #ff3434ad;
    --theme-green: rgb(11, 80, 80);
    --black-color: #000;
    
    // typography 
    --normal-font-color: #3f3f3f;
    --small-font-size: 12px;
    --normal-font-size: 16px;
    --large-font-size: 20px;

    --normal-font-weight: 400;
    --bold-font-weight: 600;

    // buttons
    --normal-button-width: 52px;
    --large-button-width: 74px;

    --normal-button-height: 28px;
    --large-button-height: 40px;
    
}

